<h1>Edit My Account - <%= @user.name %></h1>

<% form_for @user, :url => user_path do |f| %>
 	<%= f.label :email_address %><br/>
 	<%= f.text_field :email_address, :size => 35 %><br/>
 	<br/>  
  <%= f.submit "Update" %>
<% end %>

<br /><%= link_to "My Profile", user_path(@user.name) %>