<div id="item_<%= item.id %>" class="item_container" align="left">
	<div class="item_title">
		<% if @counter %>
			<%= @counter -%>.
		<% end %>
		<a id="up_<%= item.id -%>" href="/vote/<%= item.id -%>"><img src="/images/arrow-up.gif" width="10" height="10" border="0" hspace="3" alt="Click to vote for story"></a>
		<% if item.url.blank? -%>
			<%= link_to item.title, item_path(item) %>
		<% else -%>
			<%= link_to item.title, item.url %>
		<% end -%>
		&nbsp;<span class="comhead">(<%= h item.url_host -%>)</span>
	</div>
	<div class="item_metadata">
		<span id="score_<%= item.id -%>"><%= item.vote_count -%> points</span> by <%= link_to item.user.name, user_path(item.user.name), :class => "blue_no_ul" %> <%= time_ago_in_words(item.posted_on) -%> ago | <%= link_to "#{item.comments.size} comments", item_path(item) %>
	</div>
</div>
	