<%= render @item %>

<% unless @item.comments.empty? -%>
<div id="comments">
	<a name="comments"></a>
	<% @item.comments.each do |c| -%>
	<div class="comment" id="comment_<%= c.id -%>">
		<a name="<%= c.id -%>"></a>
		<div class="comment_metadata">
			<span class="subtext"><%= link_to c.user.name, user_path(c.user.name) %>&nbsp;<%= time_ago_in_words(c.comment_post_date) -%> ago</span>
		</div>
		<% content = c.comment.gsub(/\n/, '<br/>') -%>
		<%= c.comment if content.nil? -%>
		<%= content if !content.nil? -%> 
	</div>
	<% end -%>
</div>
<% end -%>

<%= form_for @comment, comments_path do |f| %>
	<span class="bold">Post A Comment</span><br/>
	<%= f.text_area :comment, :cols => 85, :rows => 7 %><br/>
	<%= f.hidden_field :item_id, :value => @item.id %>
	<%= f.hidden_field :user_id, :value => @current_user.id %>
	<%= f.submit "Post Comment" %>
<% end %>